<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyjava.mappers.ProductInfoMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.easyjava.entity.po.ProductInfo">
		<!--自增id-->
		<id column="id" property="id"/>
		<!--公司id-->
		<result column="company_id" property="companyId"/>
		<!--商品编号-->
		<result column="code" property="code"/>
		<!--商品名称-->
		<result column="product_name" property="productName"/>
		<!--价格-->
		<result column="price" property="price"/>
		<!--sku类型-->
		<result column="sku_type" property="skuType"/>
		<!--颜色类型-->
		<result column="color_type" property="colorType"/>
		<!--创建时间-->
		<result column="create_time" property="createTime"/>
		<!--创建日期-->
		<result column="create_date" property="createDate"/>
		<!--库存-->
		<result column="stock" property="stock"/>
		<!--状态-->
		<result column="status" property="status"/>
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		id, company_id, code, product_name, price, sku_type, color_type, create_time, create_date, stock, status
	</sql>

	<!-- 基础查询条件 -->
	<sql id="base_condition_filed">
		<if test="query.id != null and query.id != ''">
			and id = #{query.id}
		</if>
		<if test="query.companyId != null and query.companyId != ''">
			and company_id = #{query.companyId}
		</if>
		<if test="query.code != null and query.code != ''">
			and code = #{query.code}
		</if>
		<if test="query.productName != null and query.productName != ''">
			and product_name = #{query.productName}
		</if>
		<if test="query.price != null and query.price != ''">
			and price = #{query.price}
		</if>
		<if test="query.skuType != null and query.skuType != ''">
			and sku_type = #{query.skuType}
		</if>
		<if test="query.colorType != null and query.colorType != ''">
			and color_type = #{query.colorType}
		</if>
		<if test="query.createTime != null and query.createTime != ''">
			<![CDATA[ and  createTime=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.createDate != null and query.createDate != ''">
			<![CDATA[ and  createDate=str_to_date(#{query.createDate}, '%Y-%m-%d') ]]>
		</if>
		<if test="query.stock != null and query.stock != ''">
			and stock = #{query.stock}
		</if>
		<if test="query.status != null and query.status != ''">
			and status = #{query.status}
		</if>
	</sql>

	<!-- 通用条件列-->
	<sql id="base_condition">
		<where>
			<include refid="base_condition_filed"/>
		</where>
	</sql>

	<!-- 扩展查询条件 -->
	<sql id="query_condition">
		<where>
			<include refid="base_condition_filed"/>
			<if test="query.companyIdFuzzy!= null  and query.companyIdFuzzy!=''">
				and company_id like concat('%', #{query.companyIdFuzzy}, '%')
			</if>
			<if test="query.codeFuzzy!= null  and query.codeFuzzy!=''">
				and code like concat('%', #{query.codeFuzzy}, '%')
			</if>
			<if test="query.productNameFuzzy!= null  and query.productNameFuzzy!=''">
				and product_name like concat('%', #{query.productNameFuzzy}, '%')
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				<![CDATA[ and  null>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				<![CDATA[ and  create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.createDateStart!= null and query.createDateStart!=''">
				<![CDATA[ and  null>=str_to_date(#{query.createDateStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createDateEnd!= null and query.createDateEnd!=''">
				<![CDATA[ and  create_date< date_sub(str_to_date(#{query.createDateEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
		</where>
	</sql>
	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map">
		SELECT
		<include refid="base_column_list"/>
		FROM tb_product_info
		<include refid="query_condition"/>
		<if test="query.orderBy!=null">
			order by ${query.orderBy}
		</if>
        <if test="query.simplePage!=null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>
	</select>
	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT count(1) FROM tb_product_info
		<include refid="query_condition"/>
	</select>
</mapper>